# --- Streamlit Web App ---
streamlit==1.50.0
streamlit-option-menu==0.4.0

# --- Core Data Science Libraries ---
numpy==2.3.3
pandas==2.3.3
scikit-learn==1.6.1
scipy==1.16.2
joblib==1.5.2

# --- Visualization (if used) ---
matplotlib
seaborn

# --- Model Serialization ---
pickle-mixin

# --- Misc / Compatibility ---
protobuf~=3.20.3
